%h2 As a Rouge you start with:
%ul
	%li Leather armout
	%li Two daggers
	%li Thevies' tools

= label :class_items_choices, :class_items_choices_one, "Choose one:"
= radio_button :class_items_choices, :class_items_choices_one, 37
Rapier, or
= radio_button :class_items_choices, :class_items_choices_one, 40
Shortsword
%br

= label :class_items_choices, :class_items_choices_two, "Choose one:"
= radio_button :class_items_choices, :class_items_choices_two, [26, 55]
Shortbow quiver of 20 arrows, or 
= radio_button :class_items_choices, :class_items_choices_two, 40
Shortsword
%br

= label :class_items_choices, :class_items_choices_three, "Choose one:"
= radio_button :class_items_choices, :class_items_choices_three, 353
Burglar's pack
= radio_button :class_items_choices, :class_items_choices_three, 352
Dungeoneer's pack
= radio_button :class_items_choices, :class_items_choices_three, 351
Explorer's pack
%br