%h2 As a Rouge you start with:
%ul
	%li Leather armout
	%li Two daggers
	%li Thevies' tools

= label :items_choices, :class_items_choices_one, "Choose one:"
= radio_button :items_choices, :class_items_choices_one, 37, :checked => true
Rapier, or
= radio_button :items_choices, :class_items_choices_one, 40
Shortsword
%br

= label :items_choices, :class_items_choices_two, "Choose one:"
= radio_button :items_choices, :class_items_choices_two, 333, :checked => true
Shortbow quiver of 20 arrows, or 
= radio_button :items_choices, :class_items_choices_two, 40
Shortsword
%br

= label :items_choices, :class_items_choices_three, "Choose one:"
= radio_button :items_choices, :class_items_choices_three, 353, :checked => true
Burglar's pack
= radio_button :items_choices, :class_items_choices_three, 352
Dungeoneer's pack
= radio_button :items_choices, :class_items_choices_three, 351
Explorer's pack
%br