%h2 As a Wizard you start with:
%ul
	%li Spellbook

= label :items_choices, :class_items_choices_one, "Choose one:"
= radio_button :items_choices, :class_items_choices_one, 22, :checked => true
Quarterstaff, or
= radio_button :items_choices, :class_items_choices_one, 17
Dagger
%br

= label :items_choices, :class_items_choices_two, "Choose one:"
= radio_button :items_choices, :class_items_choices_two, 84, :checked => true
Component pouch, or an Arcane focus:
= radio_button :items_choices, :class_items_choices_two, 60
Crystal
= radio_button :items_choices, :class_items_choices_two, 61
Orb
= radio_button :items_choices, :class_items_choices_two, 62
Rod
= radio_button :items_choices, :class_items_choices_two, 63
Staff
= radio_button :items_choices, :class_items_choices_two, 64
Wand
%br

= label :items_choices, :class_items_choices_three, "Choose one:"
= radio_button :items_choices, :class_items_choices_three, 351, :checked => true
Explorer's pack
= radio_button :items_choices, :class_items_choices_three, 354
Scholar's pack
%br