= label :background, :personality, "Personality Trait:"
= text_area :background, :personality, :value => @character.background.personality_suggestion

= label :background, :ideal, "Ideal:"
= text_area :background, :ideal, :value => @character.background.ideal_suggestion

= label :background, :bond, "Bond:"
= text_area :background, :bond, :value => @character.background.bond_suggestion

= label :background, :flaw, "Flaw:"
= text_area :background, :flaw, :value => @character.background.flaw_suggestion

= label :background, :back_story, "Back Story:"
= text_area :background, :back_story, :placeholder => "Fill in Backstory here"

= submit_tag "Save background"
and continue

