= label :background, :personality, "Personality Trait:"
= text_area :background, :personality, :value => background_suggestion(@character)[0]

= label :background, :ideal, "Ideal:"
= text_area :background, :ideal, :value => background_suggestion(@character)[1]

= label :background, :bond, "Bond:"
= text_area :background, :bond, :value => background_suggestion(@character)[2]

= label :background, :flaw, "Flaw:"
= text_area :background, :flaw, :value => background_suggestion(@character)[3]

= label :background, :back_story, "Back Story:"
- if params[:new] || background_suggestion(@character)[4].blank?
  = text_area :background, :back_story, :placeholder => "Fill in Backstory here"
- else
  = text_area :background, :back_story, :value => background_suggestion(@character)[4]

= submit_tag "Save background"
and continue to equipment

