= label :background, :personality, "Personality Trait:"
%br
= text_area :background, :personality, :value => background_suggestion(@character)[0], :class => "input"
%br
= label :background, :ideal, "Ideal:"
%br
= text_area :background, :ideal, :value => background_suggestion(@character)[1], :class => "input"
%br

= label :background, :bond, "Bond:"
%br
= text_area :background, :bond, :value => background_suggestion(@character)[2], :class => "input"
%br

= label :background, :flaw, "Flaw:"
%br
= text_area :background, :flaw, :value => background_suggestion(@character)[3], :class => "input"
%br

= label :background, :back_story, "Back Story:"
%br
- if params[:new] || background_suggestion(@character)[4].blank?
  = text_area :background, :back_story, :placeholder => "Fill in Backstory here", :class => "input"
- else
  = text_area :background, :back_story, :value => background_suggestion(@character)[4], :class => "input", :class => "input"
%br

= button_tag "Save", :class => "btn"


