= label :background, :personality, "Personality Trait:"
= text_area :background, :personality, :value => background_suggestion(@character)[0]

= label :background, :ideal, "Ideal:"
= text_area :background, :ideal, :value => background_suggestion(@character)[1]

= label :background, :bond, "Bond:"
= text_area :background, :bond, :value => background_suggestion(@character)[2]

= label :background, :flaw, "Flaw:"
= text_area :background, :flaw, :value => background_suggestion(@character)[3]

= label :background, :back_story, "Back Story:"
= text_area :background, :back_story, :placeholder => "Fill in Backstory here"

= submit_tag "Save background"
and continue

