= hidden_field_tag :new, "true"
= label :belonging, :name, "Name:"
= text_field :belonging, :name
%br
= label :beloning, :description, "Description:"
= text_field :belonging, :description
%br
= label :belonging, :quantity, "Quantity:"
= number_field :belonging, :quantity
%br
= submit_tag "save"