- if @belonging[:pack]
  %h1= @belonging[:name] + ", " + @belonging[:pack].humanize.capitalize
- else
  %h1= @belonging[:name]

%table#characters
  %thead
    %tr
  - @belonging.each do |head, v|
    - unless a_field_not_to_be_show.include? head 
      %th= head.humanize.capitalize 
  %tbody
  - @belonging.each do |head, data|
    - unless a_field_not_to_be_show.include? head 
      - if head == "cost"

        %td= cost_converter(data.to_f)
      - else
        %td= data.humanize.capitalize

- if @belonging[:type] == "armour"
  %h2 Armour Class
  = display_armour_class(@belonging)
  - if @belonging[:name] != "Shield"
    %strong =
    = calculate_ac(@character, @belonging)

- if @belonging[:details]
  %h2 Details
  - @belonging[:details].each do |detail|
    %h3= detail["title"]
    = detail["body"]



