%h1= show_belonging_name(@belonging, @item)
- if @belonging.pack
  Part of
  = @belonging.pack.humanize.capitalize 
%table#characters
  %thead
    %tr
  - @item.attributes.each do |head, data|
    - unless a_field_not_to_be_show.include?(head)  || data == nil
      %th= head.humanize.capitalize 
  %tbody
  - @item.attributes.each do |head, data|
    - unless a_field_not_to_be_show.include?(head) || data == nil
      - if head == "cost"
        %td= cost_converter(data.to_f)
      - elsif head == "weight"
        %td= weight(data)
      - elsif head == "ranged"
        %td= data
      - else
        %td= data.humanize.capitalize


- if @item.category.match("^armour")
  %h2 Armour Class
  = display_armour_class(@item)
  - if @belonging[:name] != "Shield"
    %strong =
    = calculate_ac(@character, @item)

- if @item.details != nil
  %h2 Details
  - @item[:details].each do |detail|
    %h3= detail[:title]
    = detail[:body]