.hide
= form_for @user do |f|
  = f.text_field :first_name, :placeholder => "First Name", :class => "input"
  = f.text_field :last_name, :placeholder => "Last Name", :class => "input"
  = f.email_field :email, :placeholder => "Email", :class => "input"
  = f.password_field :password, :placeholder => "Password", :class => "input"
  %br
  = f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "input"
  %br
  = f.submit :class => "btn"
.hide


