.hide
%h1 Login
.hide

.hide
= form_tag login_path do
  = email_field :user, :email, :placeholder => 'Email Address', :class => "input"
  = password_field :user, :password, :placeholder => 'Password', :class => "input"
  %br
  = button_tag "Login", :class => "btn"
.hide

.hide
= link_to 'Create user account', new_user_path
.hide
