- # If rendering from New; list all skills as blank
- # If rendering from Edit; check skill boxes save in db
%br
- @skill_choices.each do |skill|
	- if @skills_chose.include?(skill.to_s)
		= check_box_tag "skill[#{skill}]", 1, :checked => "checked"
	- else 
		= check_box_tag "skill[#{skill}]"
	= label :skill, skill, "#{skill.to_s.humanize.capitalize}"
	%br
%br
= button_tag "Contine", :class => "btn"
