%br
%strong Pick #{@character.number_of_skill} skills

- # If rendering from New; list all skills as blank
- # If rendering from Edit; check skill boxes save in db
- @character.skill_choices.each do |skill|
	= label :skill, skill, "#{skill.to_s.humanize.capitalize}"
	- if params[:edit] && @skills_chose.include?(skill.to_s)
		= check_box_tag "skill[#{skill}]", 1, :checked => "checked"
	- else 
		= check_box_tag "skill[#{skill}]"
%br
= submit_tag "Save"
and continue to Skills