%br
%strong Pick #{@character.number_of_skill} skills
- @character.skill_choices.each do |skill|
		= label :skill, skill, "#{skill.to_s.humanize.capitalize}"
		= check_box_tag "skill[]", skill
		%br
= submit_tag "Save"
and continue to Skills