.skill
	.update
		%h1 Skills
		= render :partial => "proficiancy_and_saving_throws"
		%br
		As a #{@character.past.humanize.capitalize}, you start with the Skills:
		%br
		#{@character.background.background_skills[0].to_s.humanize.capitalize}, 
		#{@character.background.background_skills[1].to_s.humanize.capitalize}
		%br
		%br
		As a #{@character.character_class.to_s.humanize.capitalize}, you can pick #{@character.number_of_skill} more skills
	.show
		%strong Select
		= form_tag :action => :create do	
			= render :partial => "new_or_edit"
	.div
		= render partial: "characters/show" # show saved character states
