.skill
	= render partial: "characters/show" # show saved character states
	.show
		= render :partial => "proficiancy_and_saving_throws"	
	.show
		%strong Select Skills
		%br
		%br
		As a #{@character.character_class.to_s.humanize.capitalize}, you can pick #{@character.number_of_skill} more skills
		= form_tag :action => :create do	
			= render :partial => "new_or_edit"
