
- # Charecter Player Name
- if params[:new]
	= text_field :character, :player_name, :placeholder => "Player Name", :class => "input"
- else
	= text_field :character, :player_name
%br

- # Charecter Name
- if params[:new]
	= text_field :character, :character_name, :placeholder => "Name", :class => "input"
- else
	= text_field :character, :character_name
%br
- # Charecter Level
- if params[:new]
	= text_field :character, :level, :placeholder => "Level", :class => "input"
-else
	= text_field :character, :level	
%br
- # Charecter Experience Points
- if params[:new]
	= text_field :character, :xp, :placeholder => "Experience Points", :class => "input"
- else
	= text_field :character, :xp	
%br

- # Charecter Class
- if params[:new]
	= select :character, :character_class, CharactersHelper::CLASS_CHOICE_LIST, :placeholder => "Class"
	= label :character, :character_class, "Class"
- else
	%strong Class:
	#{@character.character_class.capitalize}
%br
- # Charecter Race
- # If new show racial options other wise display race
- if params[:new]
	= select :character, :race_subrace, CharactersHelper::RACE_CHOICE_LIST
	= label :character, :race_subrace, "Race"
- else
	%br
	%strong Race:
	= race(@character)
%br

- # Charecter Background
- if params[:new]
	= select :character, :past, CharactersHelper::BACKGROUND_CHOICE_LIST
	= label :character, :past, "Background"
- else
	%strong Background
	#{@character.past.capitalize}
%br
- # Charecter Alignment
= select :character, :alignment, CharactersHelper::ALIGNMENT_CHOICE_LIST
= label :character, :alignment, "Alignment"
- # Save
- if params[:new]
	%br
	= link_to "Cancel", characters_path
	= button_tag "Continue", :class => "btn"
- if params[:edit]
	%br
	= button_tag "Save #{@character.character_name}", :class => "btn"
	= link_to "Cancel", character_path(@character)