= label :character, :character_name, "Name:"
= text_field :character, :character_name


= label :character, :character_class, "Class:"
= select :character, :character_class, [['Fighter', 'fighter'], ['Cleric', 'cleric'], ['Rouge', 'rouge'], ['Wizard', 'wizard']]

- if !params[:new]
	= label :character, :background, "Background:"
	= select :character, :background, [['Acolyte', 'acolyte'], ['Criminal', 'criminal'], ['Folk Hero', 'folk_hero'], ['Noble', 'noble'], ['Sage', 'sage'], ['Soldier', 'soldier']]
	= label :character, :level, "Level:"
	= text_field :character, :level 

= label :character, :race, "Race:"
= select :character, :race, [['Dwarf, Hill', 'dwarf_hill'], ['Dwarf, Mountain', 'dwarf_mountain'], ['Elf, High', 'elf_high'], ['Elf, Wood', 'elf_wood'], ['Halfling, Lightfoot', 'halfling_lightfoot'], ['Halfling, Stout', 'halfling_stout'], ['Human', 'human'], ]

= label :character, :alignment, "Alignment:"
= text_field :character, :alignment

= label :character, :xp, "Experience Points:"
= text_field :character, :xp

= label :character, :player_name, "Player Name:"
= text_field :character, :player_name


-# cancle link will Redirect to appropriat page 
- if params[:new]
	%br
	= submit_tag "Continue to Abilities"
	= link_to "Cancel", characters_path
- if params[:edit]
	%br
	= submit_tag "Save Character"
	= link_to "Cancel", character_path(@character)
	