= label :character, :character_name, "Name:"
- if params[:new]
	= text_field :character, :character_name, :value => "Sally Waffles"
- else
	= text_field :character, :character_name

= label :character, :level, "Level:"
- if params[:new]
	= text_field :character, :level, :value => 2
-else
	= text_field :character, :level	

- if params[:new]
	= label :character, :character_class, "Class:"
	= select :character, :character_class, CharactersHelper::CLASS_CHOICE_LIST
- else
	%br
	%strong Class:
	#{@character.character_class.capitalize}

- # If new show racial options other wise display race
- if params[:new]
	= label :character, :race, "Race:"
	= select :character, :race, CharactersHelper::RACE_CHOICE_LIST
- else
	%br
	%strong Race:
	= race(@character)

- if params[:new]
	= label :character, :past, "Background:"
	= select :character, :past, CharactersHelper::BACKGROUND_CHOICE_LIST
- else
	%br
	%strong Background
	#{@character.past.capitalize}
%br


= label :character, :alignment, "Alignment:"
= select :character, :alignment, CharactersHelper::ALIGNMENT_CHOICE_LIST

= label :character, :xp, "Experience Points:"
- if params[:new]
	= text_field :character, :xp, :value => 500
- else
	= text_field :character, :xp	

= label :character, :player_name, "Player Name:"
- if params[:new]
	= text_field :character, :player_name, :value => "Jeremy"
- else
	= text_field :character, :player_name

- if params[:new]
	%br
	= submit_tag "Continue to Abilities"
	= link_to "Cancel", characters_path
- if params[:edit]
	%br
	= submit_tag "Save #{@character.character_name}"
	= link_to "Cancel", character_path(@character)