%h2 All Characters

%table#characters
	%thead
		%tr
			%th Name
			%th Race
			%th Level
			%th Class
			%th More Info
			%th Delete
	%tbody
		- @characters.each do |char|
			%tr
				%td= char.character_name
				%td= char.race.capitalize
				%td= char.level
				%td= char.character_class.capitalize
				%td= link_to "Veiw #{char.character_name}'s character sheet", character_path(char)
				%td= link_to "Delete", character_path(char), :method => :delete, :confirm => "Are you sure you want to permantly remove #{char.character_name}?", :id => char.id

= link_to "Create New Character", new_character_path
