.characters
	.div Name
	.div Race
	.div Level
	.div Class
	.div More Info
	.div Delete

	- @characters.each do |char|
		.index= char.character_name
		.index= char.race
		.index= char.level
		.index= char.character_class
		.index= link_to "#{char.character_name}'s Info", character_path(char)
		.index= link_to "Delete", character_path(char), :method => :delete, :confirm => "Are you sure you want to permantly remove #{char.character_name}?", :id => char.id
	.div
	.div
	.div
	.div
	