%h1= character_title(@character)

%strong Race:
= race(@character)
%br
%strong Class:
=@character.character_class.capitalize
%br
%strong Level:
=@character.level
%br
%strong Background:
=@character.past.humanize.capitalize
%br
%strong Experience Points:
=@character.xp
%br
%strong Alignmet:
= show_alignment(@character.alignment) # decodes alingment for display
%br
%strong Player Name:
= @character.player_name
%br
%br
-# Render Abilities template if abilities have been saved
= render partial: "abilities/show" if @character.ability
= render partial: "skills/show" if @character.skill
%br
= render partial: "backgrounds/show" if @character.background
- if params[:show] # Show link to edit character only while showing pregenerated/saved character
  =link_to "Edit #{@character.character_name}'s Character Details", edit_character_path(@character)