%h1 Armour
%table#characters
	%thead
		%tr
			%th Armour
			%th Cost
			%th Armour Class (AC)
			%th Strength
			%th Stealth
			%th Weight
	%tbody
		- @armour.each do |category, items|
			- sorted_items= items.sort_by { |hsh| hsh[:cost] }
			%td
				%strong= category.to_s.capitalize
			- sorted_items.each do |item|
				%tr
					%td= item[:name]
					%td= cost_converter(item[:cost])
					%td= display_armour_class(item)
					%td= if !item[:strength] then "---" else item[:strength] end
					%td= "Disadvantage" if item[:stealth]
					%td= weight(item[:weight])