= form_for @item do |f|
  = f.label :catagory, "Item type"
  = f.select :catagory, ["armour", "weapon", "gear", "tool", "vehicle", "mount"]
  = f.label :item, "Item Name"
  = f.text_field :item, :placeholder => "Item Name"  
  = f.label :weight, "Weight"
  = f.number_field :weight, :placeholder => "Weight in pounds"
  = f.label :properties, "Properties"
  = f.text_field :properties, :placeholder => "Description"  
  = f.label :cost, "Cost"
  = f.number_field :cost, :placeholder => "Cost"  
  / Armour
  = f.label :ac, "Armour Class"
  = f.number_field :ac, :placeholder => "Armour Class"  
  = f.label :str_min, "Is their a minimum Strength to use this Item"
  = f.number_field :str_min 
  %br
  = f.check_box :dex_mod  
  Apply Dexterity Modifier
  %br
  = f.check_box :dex_mod_max 
  Apply Maximum Dexterity Modifier of 2
  %br
  = f.check_box :stealth_disadvantage 
  Apply Disadvantage to Stealth Checks
  / Weapons
  %br
  %h3 Damage:
  = f.select :damage_min, (1..5)
  D:
  = f.select :damage_max, [4, 6, 8, 10, 12]
  = f.label :ranged, "Is this a Ranged Weapon"
  = f.check_box :ranged
  / Vehicles
  = f.label :speed, "Speed"
  = f.number_field :speed


  %br
  %br
  = f.submit
  

