%h3 Equipment List

%strong Armour
%br
%table#characters
  %thead
    %tr
      %th Name
      %th AC modifier
      %th AC
  %tbody
    - if character_is_wearing_armour?(items(@character))
      - best_armour = best_armour_character_has(@character, @items)
      - @items.each do |item|
        - if item[:type] == "armour"
          %tr
            %td= item_name_to_link(item, @character)
            %td= display_armour_class(item)
            - if item == best_armour
              %td
                %strong= calculate_ac(@character, item)
            - elsif item[:id] == 212
              %td
                %strong= calculate_ac(@character, best_armour) + 2
            - else
              %td= calculate_ac(@character, item)
    - else
      %tr
        %td ---
        %td ---
        %td= calculate_ac(@character, nil)



%br
%strong Weapons
%table#characters
  %thead
    %tr
      %th Name
      %th Damage
      %th Properties
  %tbody
    - @items.each do |item|
      %tr
        - if item[:type] == "weapon"   
          %td= item_name_to_link(item, @character)
          %td= item[:damage]
          %td= item[:properties]

%br
%strong Adventuring Gear
%table#characters
  %thead
    %tr
      %th Quantity
      %th Name
      %th Weight
  %tbody
    - @items.each do |item|
      %tr
        - if item[:type] == "gear"   
          %td= item[:quantity] unless !item[:quantity]
          %td= item_name_to_link(item, @character)
          %td= item[:weight]
