%h3 Equipment List

%strong Armour
%br
%table#characters
  %thead
    %tr
      %th Name
      %th AC modifier
      %th AC
  %tbody
    - if character_is_wearing_armour?(@character)
      - @character.item.items_list.each do |item|
        - if item[:type] == "armour"
          %tr
            %td= item[:name]
            - if item[:id] == 212
              %td +#{display_armour_class(item)}
            - else
              %td= display_armour_class(item)
            %td= calculate_ac(@character, item)
    - else
      %tr
        %td ---
        %td ---
        %td= calculate_ac(@character, nil)

%br
%strong Weapons
%table#characters
  %thead
    %tr
      %th Name
      %th Damage
      %th Properties
  %tbody
    - @character.item.items_list.each do |item|
      %tr
        - if item[:type] == "weapon"   
          %td= item[:name]
          %td= item[:damage]
          %td= item[:properties]

%br
%strong Adventuring Gear
%table#characters
  %thead
    %tr
      %th Quantity
      %th Name
      %th Weight
  %tbody
    - @character.item.items_list.each do |item|
      %tr
        - if item[:type] == "gear"   
          %td= item[:quantity] unless !item[:quantity]
          %td= item[:name]
          %td= item[:weight]
