%h1 Edit #{@character.character_name}'s Equipment

= form_tag 
= render partial: "items/show_partials/armour"
= render partial: "items/show_partials/weapons"
= render partial: "items/show_partials/gear"
