
= render partial: "items/equipment_lists/armour"
= render partial: "items/equipment_lists/weapons"
= render partial: "items/equipment_lists/adventuring_gear"
= render partial: "items/equipment_lists/tools"
= render partial: "items/equipment_lists/mounts"
= render partial: "items/equipment_lists/tack"
= render partial: "items/equipment_lists/boats"


