%h1= @item[:name]

%table#characters
  %thead
    %tr
  - @item.each do |head, v|
    - unless head == "id" || head == "action" || head == "controller" || head == "details"
      %th= head 
  %tbody
  - @item.each do |head, data|
    - unless head == "id" || head == "action" || head == "controller" || head == "details"
      %td= data

%h2 Details
- @item[:details].each do |detail|
  %h3= detail[:title]
  = detail[:body]
