%h1= @item[:name]

%table#characters
  %thead
    %tr
  - @item.each do |head, v|
    - unless a_field_not_to_be_show.include? head 
      %th= head 
  %tbody
  - @item.each do |head, data|
    - unless a_field_not_to_be_show.include? head 
      %td= data.humanize.capitalize

- if @item[:type] == "armour"
  %h2 Armour Class
  = display_armour_class(@item)
  - if @item[:name] != "Shield"
    %strong =
    = calculate_ac(@character, @item)

- if @item[:details]
  %h2 Details
  - @item[:details].each do |detail|
    %h3= detail["title"]
    = detail["body"]

- if @item[:pack]
  Item was obtained as part of a pack

