%h1 Weapons
%table#characters
	%thead
		%tr
			%th Name
			%th Cost
			%th Damage
			%th Weight
			%th Properties
			%th ID
	%tbody
		- @weapons.each do |item|
			%tr
				%td= item_name_to_link(item, nil)
				%td= cost_converter(item.cost)
				%td= item.damage
				%td= weight(item.weight)
				%td= item.properties
				%td= item.id