%h1 Weapons
%table#characters
	%thead
		%tr
			%th Name
			%th Cost
			%th Damage
			%th Weight
			%th Properties
	%tbody
		- @weapons.each do |category, items|
			- sorted_items = items.sort_by { |hsh| hsh[:name] }
			%td
				%strong= category.humanize.capitalize
			- sorted_items.each do |item|
				%tr
					%td= item[:name]
					%td= cost_converter(item[:cost])
					%td= item[:damage]
					%td= weight(item[:weight])
					%td= item[:properties]