%h2 As an Acolyte you will start with:
%ul
	%li Prayer Book
	%li 5 sticks of incense
	%li Vesetments
	%li Set of common clothes
	%li Belt puch with 15gp

= label :items_choices, :background_items_choices_one, "Pick a holly symbol:"
= radio_button :items_choices, :background_items_choices_one, 95
Amulet
= radio_button :items_choices, :background_items_choices_one, 96
Emblem
= radio_button :items_choices, :background_items_choices_one, 97
Reliquary

= label :items_choices, :background_items_choices_two, "Pick a prayer focus:"
= radio_button :items_choices, :background_items_choices_two, 300
Prayer book
= radio_button :items_choices, :background_items_choices_two, 301
Prayer wheel

