= label :items_choices, :items_choices_one, "Pick your armor"
= radio_button :items_choices, :items_choices_one, "acolyte_1"
Real big armour
= radio_button :items_choices, :items_choices_one, "acolyte_2"
Real small armour

= label :items_choices, :items_choices_two, "Pick your knife"
= radio_button :items_choices, :items_choices_two, "acolyte_3"
A real big knife
= radio_button :items_choices, :items_choices_two, "acolyte_4"
A real small knife

