= label :items_choices, :items_choices_one, "Pick your armor"
= radio_button :items_choices, :items_choices_one, [1, 2, 3]
Real big armour
= radio_button :items_choices, :items_choices_one, [5,6,7]
Real small armour

= label :items_choices, :items_choices_two, "Pick your knife"
= radio_button :items_choices, :items_choices_two, [23, 45, 78]
A real big knife
= radio_button :items_choices, :items_choices, [34, 92, 123]
A real small knife

