%h3 As an Acolyte you will start with:
%ul
	%li Prayer Book
	%li 5 sticks of incense
	%li Vesetments
	%li Set of common clothes
	%li Belt puch with 15gp
= label :items_choices, :items_choices_one, "Pick a holly symbol:"
= radio_button :items_choices, :items_choices_one, "acolyte_1"
Amulet
= radio_button :items_choices, :items_choices_one, "acolyte_2"
Emblem
= radio_button :items_choices, :items_choices_one, "acolyte_3"
Reliquary


= label :items_choices, :items_choices_two, "Pick a prayer focus:"
= radio_button :items_choices, :items_choices_two, "acolyte_4"
Prayer book
= radio_button :items_choices, :items_choices_two, "acolyte_5"
Prayer wheel

