%h2 As a Folk Hero you will start with:"
%ul
  %li Shovel
  %li Iron pot
  %li Set of common clothes
  %li Belt puch with 1ogp
= label :items_choices, :background_items_choices_one, "Pick a set of artisan's tools:"
%table#folk_hero_equipment
  %tr
    %td= radio_button :items_choices, :background_items_choices_one, "145"
    %td Alchemist's suplies
    %td= radio_button :items_choices, :background_items_choices_one, "146"
    %td Brewer's supplies
    %td= radio_button :items_choices, :background_items_choices_one, "147"
    %td Calligrapher's supplies
  %tr
    %td= radio_button :items_choices, :background_items_choices_one, "148"
    %td Carpenter's tools
    %td= radio_button :items_choices, :background_items_choices_one, "149"
    %td Cartographer's tools
    %td= radio_button :items_choices, :background_items_choices_one, "150"
    %td Cobbler's tools
  %tr
    %td= radio_button :items_choices, :background_items_choices_one, "151"
    %td Cook's utensils
    %td= radio_button :items_choices, :background_items_choices_one, "152"
    %td Glassblower's tools
    %td= radio_button :items_choices, :background_items_choices_one, "153"
    %td Jewler's tools
  %tr
    %td= radio_button :items_choices, :background_items_choices_one, "154"
    %td Leatherworker's tools
    %td= radio_button :items_choices, :background_items_choices_one, "155"
    %td Mason's tools
    %td= radio_button :items_choices, :background_items_choices_one, "156"
    %td Painter's supplies
  %tr
    %td= radio_button :items_choices, :background_items_choices_one, "157"
    %td Potter's tools
    %td= radio_button :items_choices, :background_items_choices_one, "158"
    %td Smith's tools
    %td= radio_button :items_choices, :background_items_choices_one, "159"
    %td Tinker's tools
  %tr
    %td= radio_button :items_choices, :background_items_choices_one, "160"
    %td Weaver's tools
    %td= radio_button :items_choices, :background_items_choices_one, "161"
    %td Woodcarver's tools