= label :items_choices, :items_choices_one,"As a Folk Hero you will start with:"
%ul
  %li Shovel
  %li Iron pot
  %li Set of common clothes
  %li Belt puch with 1ogp
= label :items_choices, :items_choices_one, "Pick a set of artisan's tools:"
%table#folk_hero_equipment
  %tr
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_1"
    %td Alchemist's suplies
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_2"
    %td Brewer's supplies
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_3"
    %td Calligrapher's supplies
  %tr
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_4"
    %td Carpenter's tools
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_5"
    %td Cartographer's tools
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_6"
    %td Cobbler's tools
  %tr
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_7"
    %td Cook's utensils
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_8"
    %td Glassblower's tools
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_9"
    %td Jewler's tools
  %tr
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_10"
    %td Leatherworker's tools
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_11"
    %td Mason's tools
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_12"
    %td Painter's supplies
  %tr
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_13"
    %td Potter's tools
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_14"
    %td Smith's tools
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_15"
    %td Tinker's tools
  %tr
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_16"
    %td Weaver's tools
    %td= radio_button :items_choices, :items_choices_one, "folk_hero_17"
    %td Woodcarver's tools