%br
%strong Weapons
%table#characters
  %thead
    %tr
      %th Remove
      %th Name
      %th Damage
      %th Properties
  %tbody
    - @belongings.each do |belonging|
      %tr
        - if single_item(belonging, @items).category.match "weapon"
          %td= check_box_tag "remove_item[#{belonging.id}]"   
          %td= belonging_name_to_link(single_item(belonging, @items), belonging, @character)
          %td= single_item(belonging, @items).damage
          %td= single_item(belonging, @items).properties
