!!! 5
%html
  %head
    %title DnD_5E
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    #title= link_to "Dungons and Dragons 5th Edition, Character Builder", characters_path
    #login_logout      
      - if !session[:authorized_user_id]
        = link_to "login", login_path
      - else
        = link_to "logout", logout_path unless params[:action] == 'login'
    - if flash[:notice]
      #notice.message= flash[:notice]
    - if flash[:warning]
      #warning.message= flash[:warning]
    = yield