
!!! 5
%html
  %head
    %title DnD_5E
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

.container
  .hide 
  #title
    = link_to "Character Builder", characters_path
    %p For 5th addition Dungeons and Dragons
  .hide
  
  .hide
  .content-container
    .hide
    #login_logout 
      - if session[:authorized_user_id]
        = link_to "#{session[:name]}, edit", edit_user_path(session[:authorized_user_id])
        = link_to "logout", logout_path 

      - if flash[:notice]
        #notice.message= flash[:notice]
      - if flash[:warning]
        #warning.message= flash[:warning]
    .hide

    = yield
    
    .hide
    .hide
    .hide



  .hide
  .hide
  .hide