
!!! 5
%html
  %head
    %title DnD_5E
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags

.container
  .hide
  - if flash[:notice]
    .show.notice= flash[:notice]
  - elsif flash[:warning]
    .show.notice= flash[:warning]
  - else
    .hide
  .hide
  / Title
  .hide 
  #title
    = link_to "Character Builder", characters_path
    %p For 5th addition Dungeons and Dragons
  .hide
  .hide
  / Character Name, Notice, log out
  .content-container
    - if session[:authorized_user_id]
      .index
        = link_to "New Character", new_character_path
        = link_to "References", reference_show_path, :"data-turbolinks" => false
    - else
      .hide
    - if @character
      #title
        = @character.character_name
    - else
      .hide
    #login_logout 
      - if session[:authorized_user_id]
        .hide
        = link_to "#{session[:name]}, edit", edit_user_path(session[:authorized_user_id])
        = link_to "logout", logout_path 



    = yield
    
    .hide
    .hide
    .hide

  .hide
  .hide
  .hide